.produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e293b;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contador {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contador button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    background: #2563eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador input {
    width: 50px;
    text-align: center;
    font-size: 18px;
    border: none;
    background: transparent;
    color: white;
}

.salvar {
    width: 100%;
    margin-top: 20px;
    background: #16a34a;
    font-size: 18px;
    padding: 12px;
    border-radius: 10px;
}