<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>XODÓ Sistema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#c71f1f">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="topbar">
    <a href="/">
        <img src="{{ url_for('static', filename='icon-192.png') }}" class="logo">
    </a>

    <div class="menu-area" onclick="toggleMenu()">
        <span>Menu</span>
        <div class="hamburger"></div>
    </div>
</header>

<div id="overlay" class="overlay" onclick="toggleMenu()"></div>

<div id="menuPopup" class="menu-popup">
    <div class="menu-header">Nome: test</div>

    <button onclick="location.href='/fechamento'">Fechamento</button>
    <button onclick="location.href='/producao'">Produção</button>
    <button onclick="location.href='/produto'">Cadastrar Produto</button>
    <button class="sair">Sair</button>
</div>

<main class="container">
    {% block content %}{% endblock %}
</main>

<script>
function toggleMenu(){
    document.getElementById("menuPopup").classList.toggle("active");
    document.getElementById("overlay").classList.toggle("active");
}
</script>




</body>
</html>