<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>XODÓ Sistema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#c71f1f">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>XODÓ ALT</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo-192.png') }}">

    <meta name="theme-color" content="#b71c1c">
</head>

<body>

<header class="topbar">
    <a href="/">
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
    </a>

     <div class="menu-area" onclick="toggleMenu()">
        <span id="menuText">Menu</span>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>

{% if session.get("user_id") %}
<div id="overlay" class="overlay" onclick="toggleMenu()"></div>

<div id="menuPopup" class="menu-popup">
    <div class="menu-header">
        👤 {{ session.get("username") }} <br>
        🏢 {{ session.get("filial_nome") }}
    </div>

    <button onclick="location.href='/fechamento'">Fechamento</button>
    <button onclick="location.href='/producao'">Produção</button>
    <button onclick="location.href='/produto'">Cadastrar Produto</button>
    <button onclick="location.href='/logout'" class="sair">Sair</button>
</div>
{% endif %}

<main class="container">
    {% block content %}{% endblock %}
</main>

<script>
function toggleMenu(){
    const menu = document.getElementById("menuPopup");
    const overlay = document.getElementById("overlay");
    const hamburger = document.getElementById("hamburger");
    const menuArea = document.querySelector(".menu-area");
    const container = document.querySelector(".container");

    menu.classList.toggle("active");
    overlay.classList.toggle("active");
    hamburger.classList.toggle("active");
    menuArea.classList.toggle("active");
    container.classList.toggle("blur-content");
}
</script>



<script>
if ("serviceWorker" in navigator) {
  navigator.serviceWorker.register("/static/sw.js");
}
</script>
</body>
</html>