{% extends "base.html" %}
{% block content %}

<h1 class="titulo">Fechamento</h1>

<form id="formFechamento" method="POST" action="/salvar">
<input type="hidden" name="tipo" value="fechamento">

<div class="grid">
    {% for produto in produtos %}
    <div class="card">
        <span>{{ produto[1] }}</span>

        <div class="contador">
            <button type="button" onclick="diminuir({{ produto[0] }})">-</button>

            <span class="numero" id="display_{{ produto[0] }}">0</span>

            <button type="button" onclick="aumentar({{ produto[0] }})">+</button>

            <input type="hidden"
                   id="produto_{{ produto[0] }}"
                   name="produto_{{ produto[0] }}"
                   value="0">
        </div>
    </div>
    {% endfor %}
</div>

<button type="button" class="botao-principal" onclick="abrirPdf('formFechamento')">
Gerar Fechamento
</button>

</form>

<script>
function aumentar(id){
    let input = document.getElementById("produto_"+id);
    let display = document.getElementById("display_"+id);
    let valor = parseInt(input.value) || 0;
    valor++;
    input.value = valor;
    display.innerText = valor;
}

function diminuir(id){
    let input = document.getElementById("produto_"+id);
    let display = document.getElementById("display_"+id);
    let valor = parseInt(input.value) || 0;
    if(valor > 0){
        valor--;
        input.value = valor;
        display.innerText = valor;
    }
}

function abrirPdf(formId){
    const form = document.getElementById(formId);
    form.target = "_blank";
    form.submit();
    form.target = "";
}
</script>

{% endblock %}