{% extends "base.html" %}
{% block content %}

<div class="login-wrapper">
    <div class="login-card">

        <div class="login-left">
            <img src="{{ url_for('static', filename='logo.png') }}" class="login-logo">
            <p>Faça login e acesse o sistema ❤️</p>
        </div>

        <div class="login-right">
            <h2>Entrar</h2>

            <form method="POST">
                <label>Usuário</label>
                <input type="text" name="username" required>

                <label>Senha</label>
                <input type="password" name="senha" required>

                <button type="submit">Entrar no sistema</button>
            </form>

            <div class="login-extra">
                <span>Não tem conta?</span>
                <a href="/register" class="btn-register">Cadastrar usuário</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}