{% extends "base.html" %}
{% block content %}

<h1 class="titulo">Produção Diária</h1>

<form method="POST" action="/salvar" target="_blank">
<input type="hidden" name="tipo" value="producao">

<div class="grid">
    {% for produto in produtos %}
    <div class="card">
        <span>{{ produto[1] }}</span>

        <div class="contador">
            <button type="button" onclick="diminuir({{ produto[0] }})">-</button>

            <span class="numero" id="display_{{ produto[0] }}">0</span>

            <button type="button" onclick="aumentar({{ produto[0] }})">+</button>

            <input type="hidden"
                   id="produto_{{ produto[0] }}"
                   name="produto_{{ produto[0] }}"
                   value="0">
        </div>
    </div>
    {% endfor %}
</div>

<button type="submit" class="botao-principal">
Gerar Produção
</button>

</form>

<script>
function aumentar(id){
    let input = document.getElementById("produto_"+id);
    let display = document.getElementById("display_"+id);
    input.value = parseInt(input.value) + 1;
    display.innerText = input.value;
}

function diminuir(id){
    let input = document.getElementById("produto_"+id);
    let display = document.getElementById("display_"+id);
    if(parseInt(input.value) > 0){
        input.value = parseInt(input.value) - 1;
        display.innerText = input.value;
    }
}

</script>

{% endblock %}